{
  "openapi": "3.0.0",
  "info": {
    "title": "Tiny ERP API V2 Specification (Generated)",
    "version": "2.0.0",
    "description": "Especificação OpenAPI gerada a partir da documentação pública da API V2 do Tiny ERP. Esta especificação é um mapeamento completo, mas pode necessitar de ajustes finos em schemas complexos e tipos de dados aninhados."
  },
  "servers": [
    {
      "url": "https://api.tiny.com.br/api2",
      "description": "Tiny ERP API V2 Base URL"
    }
  ],
  "paths": {
    "/contato.obter.php": {
      "post": {
        "tags": [
          "Clientes e Fornecedores"
        ],
        "summary": "Obter Contato",
        "description": "Serviço destinado a fazer consulta de Contato.",
        "operationId": "obter_contato",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Número de identificação do contato no Tiny",
                    "format": "int64"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "$ref": "#/components/schemas/ObtercontatoResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/contato.incluir.php": {
      "post": {
        "tags": [
          "Clientes e Fornecedores"
        ],
        "summary": "Incluir Contato",
        "description": "Serviço destinado a fazer inclusão de Contato.",
        "operationId": "incluir_contato",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "contato": {
                    "$ref": "#/components/schemas/ContatoRequest"
                  },
                  "token": {
                    "$ref": "#/components/parameters/token"
                  },
                  "formato": {
                    "$ref": "#/components/parameters/formato"
                  }
                },
                "required": [
                  "contato",
                  "token",
                  "formato"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/contato.alterar.php": {
      "post": {
        "tags": [
          "Clientes e Fornecedores"
        ],
        "summary": "Alterar Contato",
        "description": "Serviço destinado a fazer alteração de Contatos.",
        "operationId": "alterar_contato",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "contato": {
                    "$ref": "#/components/schemas/ContatoRequest"
                  },
                  "token": {
                    "$ref": "#/components/parameters/token"
                  },
                  "formato": {
                    "$ref": "#/components/parameters/formato"
                  }
                },
                "required": [
                  "contato",
                  "token",
                  "formato"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/produtos.pesquisa.php": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Pesquisar Produtos",
        "description": "Serviço destinado a fazer consulta de Produtos.",
        "operationId": "pesquisar_produtos",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "pesquisa": {
                    "type": "string",
                    "description": "Nome ou código (ou parte) do produto que deseja consultar"
                  },
                  "idTag": {
                    "type": "integer",
                    "description": "Número de identificação da tag no Tiny",
                    "format": "int64"
                  },
                  "idListaPreco": {
                    "type": "integer",
                    "description": "Número de identificação da lista de preço no Tiny",
                    "format": "int64"
                  },
                  "pagina": {
                    "type": "integer",
                    "description": "Número da página de produtos que deseja obter (padrão 100 registros/página)",
                    "format": "int64"
                  },
                  "situacao": {
                    "type": "string",
                    "description": "Situação dos produtos (\"A\" - Ativo, \"I\" - Inativo ou \"E\" - Excluído)"
                  },
                  "dataCriacao": {
                    "type": "string",
                    "description": "Data de criação do produto. Formato dd/mm/aaaa hh:mm:ss"
                  }
                },
                "required": [
                  "pesquisa"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PesquisarprodutosResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/produto.obter.php": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Obter Produto",
        "description": "Serviço destinado a obter os dados do Produto.",
        "operationId": "obter_produto",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Número de identificação do produto no Tiny",
                    "format": "int64"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "$ref": "#/components/schemas/ObterprodutoResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/produto.incluir.php": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Incluir Produto",
        "description": "Serviço destinado a fazer inclusão de Produtos.",
        "operationId": "incluir_produto",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "produto": {
                    "$ref": "#/components/schemas/ProdutoRequest"
                  },
                  "token": {
                    "$ref": "#/components/parameters/token"
                  },
                  "formato": {
                    "$ref": "#/components/parameters/formato"
                  }
                },
                "required": [
                  "produto",
                  "token",
                  "formato"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/produto.alterar.php": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Alterar Produto",
        "description": "Serviço destinado a fazer alteração de Produtos.",
        "operationId": "alterar_produto",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "produto": {
                    "type": "object",
                    "description": "Dados do produto conforme layout (ver modelo abaixo)"
                  }
                },
                "required": [
                  "produto"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/produto.obter.estoque.php": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Obter Estoque Produto",
        "description": "Serviço destinado a fazer consulta de Produtos.",
        "operationId": "obter_estoque_produto",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Número de identificação do produto no Tiny",
                    "format": "int64"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "$ref": "#/components/schemas/ObterestoqueprodutoResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/produto.obter.estrutura.php": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Obter Estrutura do Produto",
        "description": "Serviço destinado a obter a estrutura do Produto (para kits/composições).",
        "operationId": "obter_estrutura_do_produto",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Número de identificação do produto no Tiny",
                    "format": "int64"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "$ref": "#/components/schemas/ObterestruturadoprodutoResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/produto.obter.tags": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Obter Tags do Produto",
        "description": "Serviço destinado a obter as tags dados do Produto.",
        "operationId": "obter_tags_do_produto",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Número de identificação do produto no Tiny",
                    "format": "int64"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "$ref": "#/components/schemas/ObtertagsdoprodutoResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/lista.atualizacoes.produtos": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Obter lista produtos alterados",
        "description": "Serviço destinado a obter a lista de produtos alterados.",
        "operationId": "obter_lista_produtos_alterados",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "dataAlteracao": {
                    "type": "string",
                    "description": "Data de alteração no formato dd/mm/yyyy hh:mm:ss"
                  },
                  "pagina": {
                    "type": "integer",
                    "description": "Número da página que deseja obter (padrão 100 registros/página)",
                    "format": "int64"
                  }
                },
                "required": [
                  "dataAlteracao"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "$ref": "#/components/schemas/ObterlistaprodutosalteradosResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/lista.atualizacoes.estoque": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Obter atualizações de estoque",
        "description": "Serviço destinado a obter a lista dos estoques atualizados.",
        "operationId": "obter_atualizações_de_estoque",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "dataAlteracao": {
                    "type": "string",
                    "description": "Data de alteração no formato dd/mm/yyyy hh:mm:ss"
                  },
                  "pagina": {
                    "type": "integer",
                    "description": "Número da página que deseja obter (padrão 100 registros/página)",
                    "format": "int64"
                  }
                },
                "required": [
                  "dataAlteracao"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "$ref": "#/components/schemas/ObteratualizaçõesdeestoqueResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/produto.atualizar.estoque.php": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Atualizar estoque de um produto",
        "description": "Serviço destinado a atualizar o estoque de um produto.",
        "operationId": "atualizar_estoque_de_um_produto",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "estoque": {
                    "$ref": "#/components/schemas/EstoqueRequest"
                  },
                  "token": {
                    "$ref": "#/components/parameters/token"
                  },
                  "formato": {
                    "$ref": "#/components/parameters/formato"
                  }
                },
                "required": [
                  "estoque",
                  "token",
                  "formato"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/produtos.categorias.arvore.php": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Obter Árvore de Categorias dos Produtos",
        "description": "Serviço destinado a obter a árvore de categorias de produtos.",
        "operationId": "obter_árvore_de_categorias_dos_produtos",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "$ref": "#/components/schemas/ObterárvoredecategoriasdosprodutosResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/produto.atualizar.precos.php": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Atualizar preços dos produtos",
        "description": "Serviço destinado a atualizar os preços de produtos.",
        "operationId": "atualizar_preços_dos_produtos",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "precos": {
                    "type": "string",
                    "description": "Dados dos preços conforme layout (ver modelo abaixo)"
                  }
                },
                "required": [
                  "precos"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "http://api.tiny.com.br/api2/grupo.tag.pesquisa.php": {
      "post": {
        "tags": [
          "Tags de Produtos"
        ],
        "summary": "Pesquisar Grupos de Tags",
        "description": "Serviço destinado a fazer consulta de Grupos de Tags.",
        "operationId": "pesquisar_grupos_de_tags",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "pesquisa": {
                    "type": "string",
                    "description": "Nome ou parte do nome do grupo de tags que deseja consultar"
                  },
                  "pagina": {
                    "type": "integer",
                    "description": "Número da página que deseja obter (padrão 100 registros/página)",
                    "format": "int64"
                  }
                },
                "required": [
                  "pesquisa"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PesquisargruposdetagsResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/grupo.tag.incluir.php": {
      "post": {
        "tags": [
          "Tags de Produtos"
        ],
        "summary": "Incluir Grupo de Tags",
        "description": "Serviço destinado a fazer inclusão de Grupos de Tags.",
        "operationId": "incluir_grupo_de_tags",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grupo": {
                    "$ref": "#/components/schemas/GrupoRequest"
                  },
                  "token": {
                    "$ref": "#/components/parameters/token"
                  },
                  "formato": {
                    "$ref": "#/components/parameters/formato"
                  }
                },
                "required": [
                  "grupo",
                  "token",
                  "formato"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/grupo.tag.alterar.php": {
      "post": {
        "tags": [
          "Tags de Produtos"
        ],
        "summary": "Alterar Grupo de Tags",
        "description": "Serviço destinado a fazer alteração de Grupos de Tags.",
        "operationId": "alterar_grupo_de_tags",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grupo": {
                    "$ref": "#/components/schemas/GrupoRequest"
                  },
                  "token": {
                    "$ref": "#/components/parameters/token"
                  },
                  "formato": {
                    "$ref": "#/components/parameters/formato"
                  }
                },
                "required": [
                  "grupo",
                  "token",
                  "formato"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/tag.pesquisa.php": {
      "post": {
        "tags": [
          "Tags de Produtos"
        ],
        "summary": "Pesquisar Tags",
        "description": "Serviço destinado a fazer consulta de Tags.",
        "operationId": "pesquisar_tags",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "pesquisa": {
                    "type": "string",
                    "description": "Nome ou parte do nome do grupo de tags que deseja consultar (Ao menos um dos campos 'pesquisa' ou 'idGrupo' deve ser informado)"
                  },
                  "idGrupo": {
                    "type": "integer",
                    "description": "Número de identificação do grupo de tag no Tiny (Ao menos um dos campos 'pesquisa' ou 'idGrupo' deve ser informado)",
                    "format": "int64"
                  },
                  "pagina": {
                    "type": "integer",
                    "description": "Número da página que deseja obter (padrão 100 registros/página)",
                    "format": "int64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PesquisartagsResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/tag.incluir.php": {
      "post": {
        "tags": [
          "Tags de Produtos"
        ],
        "summary": "Incluir Tag",
        "description": "Serviço destinado a fazer inclusão de Tags.",
        "operationId": "incluir_tag",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag": {
                    "$ref": "#/components/schemas/TagRequest"
                  },
                  "token": {
                    "$ref": "#/components/parameters/token"
                  },
                  "formato": {
                    "$ref": "#/components/parameters/formato"
                  }
                },
                "required": [
                  "tag",
                  "token",
                  "formato"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/tag.alterar.php": {
      "post": {
        "tags": [
          "Tags de Produtos"
        ],
        "summary": "Alterar Tag",
        "description": "Serviço destinado a fazer alteração de Tags.",
        "operationId": "alterar_tag",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag": {
                    "$ref": "#/components/schemas/TagRequest"
                  },
                  "token": {
                    "$ref": "#/components/parameters/token"
                  },
                  "formato": {
                    "$ref": "#/components/parameters/formato"
                  }
                },
                "required": [
                  "tag",
                  "token",
                  "formato"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/listas.precos.pesquisa.php": {
      "post": {
        "tags": [
          "Listas de Preços"
        ],
        "summary": "Pesquisar Listas de Preços",
        "description": "Serviço destinado a fazer consulta de Listas de Preços.",
        "operationId": "pesquisar_listas_de_preços",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "pesquisa": {
                    "type": "string",
                    "description": "Descrição ou parte da descrição da lista de preços que deseja consultar"
                  },
                  "pagina": {
                    "type": "integer",
                    "description": "Número da página que deseja obter (padrão 100 registros/página)",
                    "format": "int64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PesquisarlistasdepreçosResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/listas.precos.excecoes.php": {
      "post": {
        "tags": [
          "Listas de Preços"
        ],
        "summary": "Exceções das Listas de Preços",
        "description": "Serviço destinado a fazer consulta das Exceções das Listas de Preços.",
        "operationId": "exceções_das_listas_de_preços",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "idListaPreco": {
                    "type": "integer",
                    "description": "Número de identificação da lista de preços no Tiny",
                    "format": "int64"
                  },
                  "idProduto": {
                    "type": "integer",
                    "description": "Número de identificação do produto no Tiny",
                    "format": "int64"
                  },
                  "pagina": {
                    "type": "integer",
                    "description": "Número da página que deseja obter (padrão 100 registros/página)",
                    "format": "int64"
                  }
                },
                "required": [
                  "idListaPreco"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ExceçõesdaslistasdepreçosResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/vendedores.pesquisa.php": {
      "post": {
        "tags": [
          "Vendedores"
        ],
        "summary": "Pesquisar Vendedores",
        "description": "Serviço destinado a fazer consulta de vendedores.",
        "operationId": "pesquisar_vendedores",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "pesquisa": {
                    "type": "string",
                    "description": "Nome ou código (ou parte) do vendedor que deseja consultar"
                  },
                  "pagina": {
                    "type": "integer",
                    "description": "Número da página que deseja obter (padrão 100 registros/página)",
                    "format": "int64"
                  }
                },
                "required": [
                  "pesquisa"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PesquisarvendedoresResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/crm.lista.estagios.assunto.php": {
      "post": {
        "tags": [
          "Tags de Produtos"
        ],
        "summary": "Lista de estágio dos assuntos do CRM",
        "description": "Serviço destinado a fazer consulta de estágios de assuntos do CRM.",
        "operationId": "lista_de_estágio_dos_assuntos_do_crm",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ListadeestágiodosassuntosdocrmResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/crm.pesquisa.php": {
      "post": {
        "tags": [
          "CRM"
        ],
        "summary": "Pesquisar assuntos do CRM",
        "description": "Serviço destinado a fazer consulta de assuntos.",
        "operationId": "pesquisar_assuntos_do_crm",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "pesquisa": {
                    "type": "string",
                    "description": "Campo de pesquisa (busca por nome do cliente, assunto ou ação)"
                  },
                  "estagioCliente": {
                    "type": "string",
                    "description": "Estágio do cliente no CRM"
                  },
                  "estagioAssunto": {
                    "type": "string",
                    "description": "Estágio do assunto no CRM"
                  },
                  "situacaoAssunto": {
                    "type": "string",
                    "description": "Situação do assunto no CRM"
                  },
                  "filtroPor": {
                    "type": "string",
                    "description": "Código do filtro por período (C - Criação, P - Próxima Ação)"
                  },
                  "dataInicial": {
                    "type": "string",
                    "description": "Data inicial dos assuntos que deseja consultar no formato dd/mm/yyyy"
                  },
                  "dataFinal": {
                    "type": "string",
                    "description": "Data final dos assuntos que deseja consultar no formato dd/mm/yyyy"
                  },
                  "idVendedor": {
                    "type": "string",
                    "description": "Número de identificação do vendedor no Tiny"
                  },
                  "nomeVendedor": {
                    "type": "string",
                    "description": "Nome do vendedor no Tiny"
                  },
                  "pagina": {
                    "type": "integer",
                    "description": "Número da página que deseja obter (padrão 100 registros/página)",
                    "format": "int64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PesquisarassuntosdocrmResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/crm.obter.assunto.php": {
      "post": {
        "tags": [
          "CRM"
        ],
        "summary": "Obter assunto do CRM",
        "description": "Serviço destinado a obter os dados de um assunto.",
        "operationId": "obter_assunto_do_crm",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Número de identificação do assunto do CRM no Tiny",
                    "format": "int64"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "$ref": "#/components/schemas/ObterassuntodocrmResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/crm.incluir.assunto.php": {
      "post": {
        "tags": [
          "CRM"
        ],
        "summary": "Incluir assunto do CRM",
        "description": "Serviço destinado a fazer a inclusão de Assunto no CRM.",
        "operationId": "incluir_assunto_do_crm",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "assunto": {
                    "type": "object",
                    "description": "Dados do assunto conforme layout"
                  }
                },
                "required": [
                  "assunto"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/crm.incluir.acao.assunto.php": {
      "post": {
        "tags": [
          "CRM"
        ],
        "summary": "Incluir Ação no Assunto do CRM",
        "description": "Serviço destinado a fazer a inclusão de ação no assunto no CRM.",
        "operationId": "incluir_ação_no_assunto_do_crm",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "acao": {
                    "type": "object",
                    "description": "Dados da ação conforme layout"
                  }
                },
                "required": [
                  "acao"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/IncluiraçãonoassuntodocrmResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/crm.alterar.estagio.assunto.php": {
      "post": {
        "tags": [
          "Tags de Produtos"
        ],
        "summary": "Alterar estágio do assunto do CRM",
        "description": "Serviço destinado a alterar o estágio do assunto no CRM.",
        "operationId": "alterar_estágio_do_assunto_do_crm",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "idAssunto": {
                    "type": "integer",
                    "description": "Número de identificação do assunto no Tiny",
                    "format": "int64"
                  },
                  "estagioAssunto": {
                    "type": "integer",
                    "description": "Código do estágio do assunto.",
                    "format": "int64"
                  }
                },
                "required": [
                  "idAssunto",
                  "estagioAssunto"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/crm.alterar.situacao.acao.php": {
      "post": {
        "tags": [
          "CRM"
        ],
        "summary": "Alterar situação da ação do assunto do CRM",
        "description": "Serviço destinado a fazer a alteração do situação da ação do assunto no CRM.",
        "operationId": "alterar_situação_da_ação_do_assunto_do_crm",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "idAcao": {
                    "type": "integer",
                    "description": "Número de identificação da ação do assunto no Tiny",
                    "format": "int64"
                  },
                  "situacaoAcao": {
                    "type": "integer",
                    "description": "Código conforme tabela de Situações da ação.",
                    "format": "int64"
                  }
                },
                "required": [
                  "idAcao",
                  "situacaoAcao"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/conta.receber.incluir.php": {
      "post": {
        "tags": [
          "Contas a Pagar/Receber"
        ],
        "summary": "Incluir Conta a Receber",
        "description": "Serviço destinado a inclusão de Contas a Receber.",
        "operationId": "incluir_conta_a_receber",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "conta": {
                    "type": "object",
                    "description": "Dados da conta conforme layout"
                  }
                },
                "required": [
                  "conta"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/IncluircontaareceberResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/conta.receber.alterar.php": {
      "post": {
        "tags": [
          "Contas a Pagar/Receber"
        ],
        "summary": "Alterar Conta a Receber",
        "description": "Serviço destinado a alteração de Contas a Receber.",
        "operationId": "alterar_conta_a_receber",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "conta": {
                    "type": "object",
                    "description": "Dados da conta conforme layout"
                  }
                },
                "required": [
                  "conta"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/conta.receber.obter.php": {
      "post": {
        "tags": [
          "Contas a Pagar/Receber"
        ],
        "summary": "Obter Conta a Receber",
        "description": "Serviço destinado a obtenção de Contas a Receber.",
        "operationId": "obter_conta_a_receber",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Número de identificação da conta a receber no Tiny"
                  },
                  "obter_link_boleto": {
                    "type": "string",
                    "description": "Obter link do boleto para impressão"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "conta": {
                          "$ref": "#/components/schemas/ObtercontaareceberResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/contas.receber.pesquisa.php": {
      "post": {
        "tags": [
          "Contas a Pagar/Receber"
        ],
        "summary": "Pesquisar Contas a Receber",
        "description": "Serviço destinado a consultar Contas a Receber.",
        "operationId": "pesquisar_contas_a_receber",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome_cliente": {
                    "type": "string",
                    "description": "Nome do cliente"
                  },
                  "numero_doc": {
                    "type": "string",
                    "description": "Número do documento"
                  },
                  "numero_banco": {
                    "type": "string",
                    "description": "Número no banco"
                  },
                  "data_ini_emissao": {
                    "type": "string",
                    "description": "Data inicial das contas a receber que deseja consultar no formato dd/mm/yyyy"
                  },
                  "data_fim_emissao": {
                    "type": "string",
                    "description": "Data final das contas a receber que deseja consultar no formato dd/mm/yyyy"
                  },
                  "data_ini_vencimento": {
                    "type": "string",
                    "description": "Data inicial de vencimento das contas a receber que deseja consultar no formato dd/mm/yyyy"
                  },
                  "data_fim_vencimento": {
                    "type": "string",
                    "description": "Data final de vencimento das contas a receber que deseja consultar no formato dd/mm/yyyy"
                  },
                  "situacao": {
                    "type": "string",
                    "description": "Situação das contas a receber (aberto, pago, cancelada, parcial)"
                  },
                  "id_origem": {
                    "type": "string",
                    "description": "Identificador do documento de origem (nota fiscal ou pedido de venda) das contas a receber"
                  },
                  "pagina": {
                    "type": "integer",
                    "description": "Número da página",
                    "format": "int64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "contas": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PesquisarcontasareceberResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/conta.receber.baixar.php": {
      "post": {
        "tags": [
          "Contas a Pagar/Receber"
        ],
        "summary": "Baixar Conta a Receber",
        "description": "Serviço destinado a baixa de Conta a Receber.",
        "operationId": "baixar_conta_a_receber",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "conta": {
                    "type": "object",
                    "description": "Dados da conta conforme layout"
                  }
                },
                "required": [
                  "conta"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "registros": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BaixarcontaareceberResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/formas.recebimento.pesquisa.php": {
      "post": {
        "tags": [
          "Outros"
        ],
        "summary": "Pesquisar Formas de Recebimento",
        "description": "Serviço destinado a fazer consulta de formas de recebimento.",
        "operationId": "pesquisar_formas_de_recebimento",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "situacao": {
                    "type": "string",
                    "description": "Situação da forma de recebimento (Habilitada ou Desabilitada)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "formasRecebimento": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PesquisarformasderecebimentoResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/conta.pagar.incluir.php": {
      "post": {
        "tags": [
          "Contas a Pagar/Receber"
        ],
        "summary": "Incluir Conta a Pagar",
        "description": "Serviço destinado a inclusão de Contas a Pagar.",
        "operationId": "incluir_conta_a_pagar",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "conta": {
                    "type": "object",
                    "description": "Dados da conta conforme layout"
                  }
                },
                "required": [
                  "conta"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "registros": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/IncluircontaapagarResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/conta.pagar.obter.php": {
      "post": {
        "tags": [
          "Contas a Pagar/Receber"
        ],
        "summary": "Obter Conta a Pagar",
        "description": "Serviço destinado a obtenção de Contas a Pagar.",
        "operationId": "obter_conta_a_pagar",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Número de identificação da conta a pagar no Tiny"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "conta": {
                          "$ref": "#/components/schemas/ObtercontaapagarResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/contas.pagar.pesquisa.php": {
      "post": {
        "tags": [
          "Contas a Pagar/Receber"
        ],
        "summary": "Pesquisar Contas a Pagar",
        "description": "Serviço destinado a consultar Contas a Pagar.",
        "operationId": "pesquisar_contas_a_pagar",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome_cliente": {
                    "type": "string",
                    "description": "Nome do cliente"
                  },
                  "numero_doc": {
                    "type": "string",
                    "description": "Número do documento"
                  },
                  "data_ini_emissao": {
                    "type": "string",
                    "description": "Data inicial das contas a pagar que deseja consultar no formato dd/mm/yyyy"
                  },
                  "data_fim_emissao": {
                    "type": "string",
                    "description": "Data final das contas a pagar que deseja consultar no formato dd/mm/yyyy"
                  },
                  "data_ini_vencimento": {
                    "type": "string",
                    "description": "Data inicial de vencimento das contas a pagar que deseja consultar no formato dd/mm/yyyy"
                  },
                  "data_fim_vencimento": {
                    "type": "string",
                    "description": "Data final de vencimento das contas a pagar que deseja consultar no formato dd/mm/yyyy"
                  },
                  "situacao": {
                    "type": "string",
                    "description": "Situação das contas a pagar (aberto, pago, cancelada, parcial)"
                  },
                  "pagina": {
                    "type": "integer",
                    "description": "Número da página",
                    "format": "int64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "contas": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PesquisarcontasapagarResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/conta.pagar.baixar.php": {
      "post": {
        "tags": [
          "Contas a Pagar/Receber"
        ],
        "summary": "Baixar Conta a Pagar",
        "description": "Serviço destinado a baixa de Conta a Pagar.",
        "operationId": "baixar_conta_a_pagar",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "conta": {
                    "type": "object",
                    "description": "Dados da conta conforme layout"
                  }
                },
                "required": [
                  "conta"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retorno": {
                      "type": "object",
                      "properties": {
                        "status_processamento": {
                          "type": "integer",
                          "description": "Status de processamento (1 para sucesso, 0 para erro)"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do retorno ('OK' ou 'Erro')'"
                        },
                        "codigo_erro": {
                          "type": "integer",
                          "description": "Código do erro, se houver"
                        },
                        "erros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "erro": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "registros": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BaixarcontaapagarResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "https://api.tiny.com.br/webhook/api/v1/parceiro/{idEcommerce}/cotar": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Cotar fretes",
        "description": "Realiza a cotação dos itens nas logísticas informadas para a integração já configurada no Tiny.",
        "operationId": "cotar_fretes",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Erro ou Status de Processamento"
          }
        }
      }
    },
    "/inscricao.incluir.php": {
      "post": {
        "tags": [
          "Inscrição"
        ],
        "summary": "Criar uma nova conta no Tiny (Inscrição)",
        "description": "Serviço destinado a criação de contas no Tiny.",
        "operationId": "criar_uma_nova_conta_no_tiny_(inscrição)",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
[...]
